<div class="wrapper-collection">
<div class="title">
  <div class="name">
    <%= @collectioner.first_name %> <%= @collectioner.last_name %>
  </div>

    <%= @collection.name %>
</div>

  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <% @products.each do |product| %>
          <ul>
            <%= product.name %>
            <%= image_tag(product.picture, :width => 250, crop: :fill) %>
          </ul>
        <% end %>
      </div>
      <div class="col-xs-6">
        <%= @collection.description %>
        <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 600 }'>
          <% @products.each_with_index do |product, index| %>
            <div class="grid-item">
              <%= image_tag(product.picture, :width => 250, crop: :fill) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>





